<header id="header">
  <img src="../../../../assets/Image/Booki.png" alt="Logo du site ">
  <nav class="header__nav">
    <ul class="header__nav__lists">
      <li class="list-items"><a routerLink="" >Home</a></li>
      <li class="list-items"><a href="#">Services</a></li>
      <li class="list-items"><a href="#">How it works</a></li>
      <li class="list-items"><a href="#">Faqs</a></li>
      <li class="list-items"><a href="#">Contact</a></li>
      <li class="list-items"><a href="#">pages</a>
        <i class="fa-solid fa-angle-down"></i>
        <ul class="sous-list">
          <li><a href="#">Topics Listing</a></li>
          <li><a href="#">Formulaire of Contact</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="header__user">
    <i class="fa-regular fa-user"></i>
  </div>
</header>
