<section class="TopPage">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="container">
    <div class="section-title">
      <h1>Discover. Learn. Enloy. Shart</h1>
      <p>plateforme de réservation et de présentation multi-secteurs</p>
    </div>
    <div class="formulaire">
      <form class="form">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="hebergement, sante, education, automobile">
        <button type="submit">Rechercher</button>
      </form>
    </div>
    <div class="row">
      <div class="left card">
        <div class="content">
          <div class="text">
            <h1>Hebergement</h1>
            <p class="number">14</p>
          </div>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum corporis,
          nostrum necessitatibus officiis nisi deleniti. Molestias odit,
          </p>
        </div>
        <div class="image">
          <img src="../../../../assets/Image/topics/11.png" alt="image">
        </div>
      </div>
      <div class="right">
      <div class="image"></div>
        <div class="sommbre"></div>
        <div class="right-container">
          <div class="content-right">
            <div class="text-right">
              <h1>Consultation</h1>
              <p class="number">25</p>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum corporis,
            nostrum necessitatibus officiis nisi deleniti. Molestias odit saepe voluptatum quos id,
            doloremque magnam Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, temporibus! </p>
            <a href="#"> Read More </a>
          </div>
          <div class="send">
            <h2>Partager:</h2>
            <a href="" class="icons"><i class="fa-brands fa-twitter"></i></a>
            <a href="" class="icons"><i class="fa-brands fa-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="service">
  <div class="hedear-section">
    <h1>Nos services</h1>
    <nav class="nav-list">
      <ul class="lists-links">
        <li><a routerLink="" routerLinkActive="link_active" class="btn-presentation"  [routerLinkActiveOptions]="{exact: true}" >Presentation</a></li>
        <li><a routerLink="hebergement" class="btn-hebergement">Hebergement</a></li>
        <li><a routerLink="ecoles" class="btn-ecole">Ecoles</a></li>
        <li><a routerLink="Hopitaux" class="btn-hopitaux">Hopitaux</a></li>
      </ul>
    </nav>
  </div>
  <hr>
  <div class="container-service">
    <!-- <div class="elements">
      <div class="card">
        <div class="text"></div>
        <div class="img"></div>
        <p></p>
      </div>
    </div> -->
    <!-- <app-card *ngFor="let card of cards" [card]="card"></app-card> -->
  </div>
</section>
<section class="fonctionnement">
  <div class="image"></div>
  <div class="sommbre"></div>
  <div class="container box-timeline">
    <div class="ligne"></div>
    <!--Data-annim est utiliser pour lier les rond et les text-->
    <div class="rond r1" data-annim="1"> <p><i class="fa-solid fa-magnifying-glass"></i></p></div>
    <div class="rond r2" data-annim="2"> <p><i class="fa-solid fa-clipboard"></i></p></div>
    <div class="rond r3" data-annim="3"> <p><i class="fa-regular fa-user"></i></p></div>


    <div class="box b1" data-annim="1">
      <h1>Recherche</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam rem obcaecati perferendis porro dolore voluptatem asperiores dignissimos magni molestias exercitationem, quos earum doloribus fugiat labore voluptates. Alias officiis tempora odit.</p>
    </div>
    <div class="box b2" data-annim="2">
      <h1>Reservation</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam rem obcaecati perferendis porro dolore voluptatem asperiores dignissimos magni molestias exercitationem, quos earum doloribus fugiat labore voluptates. Alias officiis tempora odit.</p>
    </div>
    <div class="box b3" data-annim="3">
      <h1>Insccription</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, quia numquam! Neque sint molestiae aut animi ab laborum magnam, quos ut, autem tempore maxime cumque iste, modi velit blanditiis dolorem.</p>
    </div>

  </div>
</section>
<section id="Faqs">
  <h1>Questions Frequentes</h1>
  <div class="element">
    <div class="img">
      <img src="../../../../assets/Image/Teams/faq_graphic.jpg" alt="">
    </div>
    <div class="container">
      <div class="question active">
        <h1>C'est quoi Booki ?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptate.

        </p>
      </div>
      <div class="question">
        <h1>Pourquoi choisir Booki ?</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum esse dolorem commodi. Fugit asperiores cum eveniet rerum facilis quod nam?</p>
      </div>
      <div class="question">
        <h1>Comment ça marche ?</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati asperiores temporibus nemo, recusandae sunt magni et dolore nobis adipisci tempora, in ducimus quia soluta ipsa corrupti ab quaerat totam officia.</p>
      </div>
      <div class="question">
        <h1>Quel est la duree de reservation ? </h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati asperiores temporibus nemo, recusandae sunt magni et dolore nobis adipisci tempora, in ducimus quia soluta ipsa corrupti ab quaerat totam officia.</p>
      </div>
    </div>
  </div>
</section>
<section id="carte">
<h1>Localistion et Contact</h1>
<div class="element">
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.7125811547908!2d10.045994675996361!3d5.46051459451909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x105fb12c4b37d2c1%3A0x4158a13dbf0751b4!2sDschang!5e0!3m2!1sfr!2scm!4v1703537102767!5m2!1sfr!2scm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
  <div class="contact">
    <h2>Contactez-nous</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, quia numquam! Neque sint molestiae aut animi ab laborum magnam, quos ut, autem tempore maxime cumque iste, modi velit blanditiis dolorem.</p>
    <p  class="lien">Email: <a href="mailto:tankwewilfried5@gmail.com"> tankwewilfried5</a></p>
    <p class="lien">phone: <a href="tel:+237692208956">+237692208956</a></p>
  </div>
</div>
</section>
