
<section id="footer">
  <div class="container">
    <h1>Booki</h1>
    <div class="resources">
      <a href="#">Home</a>
      <a href="#">How it works</a>
      <a href="#">Faqs</a>
      <a href="#">Contact</a>
    </div>
    <div class="info">
      <h3>Information & social</h3>
      <a href="tel:+237692208956">+237692208956</a>
      <a href="mailto:tankwewilfried5@gmail.com">tankwewilfried5</a>
      <div class="social">
        <p><a href="https://github.com/wilfriedjordan"><i class="fa-brands fa-github"></i></a></p>
        <p><a href=""><i class="fa-brands fa-instagram"></i></a></p>
        <p><a href=""><i class="fa-brands fa-facebook"></i></a></p>
        <p><a href=""><i class="fa-brands fa-linkedin"></i></a></p>
        <p><a href=""><i class="fa-brands fa-twitter"></i></a></p>
        <p><a href=""><i class="fa-brands fa-discord"></i></a></p>
      </div>
    </div>
    <div class="droit">
      <a href="https://github.com/wilfriedjordan">https://github.com/wilfriedjordan</a>
      <p>&copy; 2023 Booki Tous droits réserve</p>
      <p>Realiser par Ngkoa DEV</p>
    </div>
  </div>
</section>
